<div class="container align-items-center my-5" >
    <div class="border border-white text-white mb-3" id="landingbox">

        <div class="card-body">
            <h1 class="display-1">Pestr</h1>
<div></div>
            <a href="/users/new" class="btn btn-outline-light btn-lg my-5">Sign Up</a>
        </div>
    </div>


</div>