<div class="container">
    <h2>All Users</h2>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, exercitationem!</p>

    <a href="/questions" class="btn btn-info">Questions</a>
</div>



<div class="container" id="users">
    {{#each users}}


    <div class="jumbotron jumbotron-fluid border shadow">
        <div id="username">
            {{username}}
        </div>

    <div class="d-inline" id="userid">
        <p>User ID: {{_id}}</p>
    </div>
    <form action="/users/{{_id}}?_method=DELETE" method="post">

        <input class="btn btn-outline-danger" type="submit" value="Delete User" />

    </form>



    </div>
    {{/each}}
</div>