<div class="card bg-light my-5">
  <div class="container">

<div class=" text-center mt-3">
    <h2>All Users</h2>

    <div class="mt-4">

        <a href="/users/new" class="btn btn-outline-dark btn-sm">New User</a>
    </div>
</div>



<div class="container" id="users">
    {{#each users}}


    <div class="my-5">
        <div class="card bg-light text-center rounded shadow">
            
            
            <div id="username">
            <h4 class="card-title"><a class="text-dark" href="/users/{{_id}}">{{username}}</a></h4>

            </div>
<hr>
            <div class="d-inline" id="userid">
                <small class="text-muted">User ID: {{_id}}</small>
            </div>
            <form action="/users/{{_id}}?_method=DELETE" method="post">

                <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete User" />

            </form>
        </div>


    </div>
    {{/each}}
</div>
</div>
</div>