<h2>Ask New Question</h2>

<form method="POST" action="/questions">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <div class="form-group">
    <label for="title">Question Title</label>
    <input type="text" name="title" id="title" placeholder= "eg. How do I link two models in my API?" class="form-control">
      <small class="text-muted">Boil it down to a one sentence question</small>
  </div>
  <div class="form-group">
  <label for="description">Describe the problem:</label>
  <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
  <small class="text-muted">Remember to do x and y</small>
</div>
<div class="form-group">
<div class="form-check">
  <input type="checkbox" class="form-check-input" name="checkedTypo" id="checkedTypo" value="true" {{#if question.checkedTypo}}checked{{/if}} />
  <label for="checkedtypo" class="form-check-label">You've checked typos?</label>
</div>
</div>
<div class="form-group">
  <div class="custom-file">
  <input type="file" name="" id="fileupload" class="custom-file-input">
  <label for="fileupload" class="custom-file-label">Upload screenshot:</label>
</div>
</div>
  <input type="submit" class="btn btn-info" value="Ask Question" />
</form>
