<h2>Ask New Question</h2>

<form method="POST" action="/questions">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <label for="description">Describe the problem:</label>
  <textarea name="description" id="description" cols="30" rows="10"></textarea>

  <label for="checkedtypo">You've checked typos?</label>
  <input type="checkbox" name="checkedTypo" id="checkedTypo" value="true" {{#if question.checkedTypo}}checked{{/if}} />

  <input type="submit" value="Ask Question" />
</form>
